<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Loud RoR Labs", root_path, id: "logo" %>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><%=  link_to "Home", root_path %></li>
          <li><%= link_to "Portfolio", '#' %></li>
          <li><%= link_to "Weekly RoR", '#' %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </div>
    </div>
  </div>
</header>